:root {
  --background: #02011e;
  --background-alt: #352b62;
  --text: #e0dede;
  --text-alt: #acabd2;
  --highlight: #ffc6de;
  --deselected: #acabd2;
  --button-bg: #382a47;
  --error: #ff0033;
  --button-text: #ffc6de;
  --button-active-text: #261e21;
  --button-active-bg: #ffc6de;
  --link-default: #fff;
  --link-visited: #ffc6de;
}
