.text {
  color: var(--text);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Lexend", "sans-serif";
  font-weight: bold;
}

p {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.link {
  color: var(--link-default);

  &:visited {
    color: var(--link-default);
  }

  &:hover {
    color: var(--link-visited);
  }

  &:active {
    color: var(--link-visited);
  }
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
