@font-face {
  font-family: "Lexend";
  src: url("Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lexend";
  src: url("Lexend-SemiBold.ttf") format("truetype");
  font-weight: 500
}

@font-face {
  font-family: "Lexend";
  src: url("Lexend-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lexend";
  src: url("Lexend-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
}
