@use "../../styles/colors.scss";

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.profileImage {
  border-radius: 50%;
}

.userName,
.teamName,
.teamRole,
.sqRank {
  font-family: "Lexend", "sans-serif";
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.teamContainer {
  display: flex;
}

.teamDetails {
  display: flex;
  flex-direction: column;
}

.teamRole {
  color: var(--text-alt);
}

.sqRank {
  color: var(--highlight);
}
