.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userIdContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scoringContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.scoreExampleContainer {
  display: flex;
  gap: 2rem;
}

.scoreExamples {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scoreImage {
  width: 80%;
}
